<div class="container">
    <h1>User Management</h1>

<table class="table my-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">ROle</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList;let i=index">
        <th scope="row">{{1+i}}</th>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.email}}</td>
      </tr>
     
    </tbody>
  </table>
</div>