<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
      <li class="active" >
        <a href="#" >
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-users"></i>
          <span>customers</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-envelope"></i>
          <span>Message</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-tools"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>
      <li class="logout">
        <a href="">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>