<div class="container register">
    <div class="row">
     
      <div class="col-md-9 register-right">
        <h3 class="register-heading">Employee Login</h3>
        <form class="row register-form" [formGroup]="loginForm">
          <div class="col-md">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="username" placeholder="username *" />
             
            </div>
            <div class="form-group">
              <input type="text" class="form-control"formControlName="password" placeholder="password *"  />
            </div>
           
          
            <button class="btn btn-primary" (click)="login()"><strong>Login</strong></button>
          
          </div>
        </form>
  
      </div>
    </div>
  </div>
  
