<header class="app-header app-header-dark">
        <!-- .navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-lg-0" style=" background-color: #02826fd9;">
          <!-- .container -->
          <div class="container">
            <!-- .navbar-brand -->
            <a class="navbar-brand">CRM<strong style="font-weight: 900;margin-left: 6px;">SOLUTION</strong></a>
            <!-- /.navbar-brand -->
      
            <!-- <a class="navbar-brand">
              <img src="assets/img/unijos-logo.jpg" width="40" height="40" alt="Unijos Logo">
            </a> -->
      
            <button class="hamburger hamburger-squeeze d-flex d-lg-none" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
              aria-label="Toggle navigation"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            <!-- .navbar-collapse -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <!-- .navbar-nav -->
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- Dashboard -->
                <li class="nav-item">
                  <a class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
                </li><!-- /Dashboard -->
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-home"></i> Account</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/add-account']" routerLinkActive="router-link-active">Add
                        Account</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/manage-accounts']"
                        routerLinkActive="router-link-active">Manage Accounts</a>
                    </li>
                  </ul>
                </li>
      
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-user"></i> Contact</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/add-contact']">Add Contacts</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/manage-contacts']">Manage Contacts</a>
                    </li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-vcard-o"></i> Cases</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Add New Case</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">View Cases</a>
                    </li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-tasks"></i> Tasks</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Add New Task</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">View Tasks</a>
                    </li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-envelope"></i> Email</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Inbox</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Email Read</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Email Compose</a>
                    </li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-calender"></i> Calender</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Add New Event</a>
                    </li>
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">Open Event</a>
                    </li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link" id="navbarLevelMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><span class="mr-1"><i class="fa fa-file"></i> Report</span> <i
                      class="fas fa-angle-down ml-auto"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarLevelMenuDropdown">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/home/']">View Reports</a>
                    </li>
      
                  </ul>
                </li>
      
              </ul>
      
      
      
      
              <!-- <form class="top-bar-search d-lg-inline-block w-auto my-2 my-lg-0 px-0 px-lg-2">
                <div class="input-group input-group-search">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
              </form> -->
              <!-- /.top-bar-search -->
              <!-- .btn-account -->
              <div class="navbar-nav dropdown d-flex mr-lg-n3">
                <button class="btn-account w-100" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><span class="user-avatar user-avatar-md mr-lg-0"><img src="assets/img/avatar.png"
                      alt=""></span> <span class="account-summary d-lg-none"><span class="account-name">
                      Nandom Gusen</span>
                    <span class="account-description">User</span></span></button> <!-- .dropdown-menu -->
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-arrow mr-3"></div>
                  <h6 class="dropdown-header d-none d-lg-block d-lg-none"> Nandom Gusen </h6>
                  <a class="dropdown-item"><span class="dropdown-icon fa fa-user" [routerLink]="['/home/']"></span>
                    Profile</a>
      
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"><span class="dropdown-icon fa fa-sign-out"
                      [routerLink]="['/home/']"></span>Logout</a>
                </div><!-- /.dropdown-menu -->
              </div><!-- /.btn-account -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav><!-- /.navbar -->
      </header>
      
