
<div class="app has-fullwidth">


    <app-nav-bar></app-nav-bar>

     <main class="app-main">
        <div class="wrapper">

            <div class="page">

                <div class="page-inner">
                    <div class="container">

                       <div class="page-section">
                            <router-outlet></router-outlet>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
     </main>
</div>


