<body>
  <div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
      <li class="active" >
        <a href="#" >
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-users"></i>
          <span>customers</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-envelope"></i>
          <span>Message</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-tools"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>
      <li class="logout">
        <a (click)="logOut()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main--content">
   <div class="header--wrapper">
     <div class="header--title">
       <span><marquee direction="right">Manage Your Dashboard And Check Your Profile Everyday Of Effective Employee Updates</marquee> </span>
      <div>
        <h5>Welcome Back, {{loggedInUser.firstName}} {{loggedInUser.lastName}} </h5>
        <h2>Dashboard</h2>
      </div>
     </div>
     <div class="user--info">
       <div class="search--box">
        
         <input type="text"
         placeholder="Search Latest Jobs" />
       </div>
     
      
     </div>
   </div>

  <div class="card--container">
    <h4 class="main--title"> Today's data</h4>
   
     <div class="row">
       <div class="col">
          <div class="card-body main p-3">
          <div class="row">
            <div class="col">
                <h5>Recent Job Payments</h5>
         N **** **** **** 5344
            </div>
            <div class="col">
              <i class="fas fa-naira-sign sig"></i>
            </div>
          </div>
            </div>
       </div>

       <div class="col">
          <div class="card-body main mx-3 p-3">
              <div class="row">
                  <div class="col">
                      <h5>Current Job On </h5>
               N **** **** **** 5344
                  </div>
                  <div class="col">
                    <i class="fas fa-naira-sign sig"></i>
                  </div>
                </div>
            </div>
       </div>

       <div class="col">
        <div class="card-body main mx-3 p-3">
            <div class="row">
                <div class="col">
                    <h5>Next Job Allocation</h5>
             N **** **** **** 5344
                </div>
                <div class="col">
                  <i class="fas fa-naira-sign sig"></i>
                </div>
              </div>
          </div>
     </div>
     
    </div>
  </div>
     
 <div class="card mt-3">
   <div class="card bak p-3">
     <p>Records of clients Attended to by employee</p>
   </div>
  <div class="col">
    <div class="row">
      <div class="col-md-6">
       <table class="table">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Morning Allocation</th>
             <th scope="col">Afternoon Allocation</th>
             <th scope="col">Overall Performance</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Jacob</td>
             <td>Thornton</td>
             <td>@fat</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td colspan="2">Larry the Bird</td>
             <td>@twitter</td>
           </tr>
         </tbody>
       </table>
      </div>
 
      <div class="col-md-3 text-center">
          <app-timercom></app-timercom>
      </div>
    </div>
  </div>
 </div>
     
      </div>

     
     
</body>